.firstThreeBtn {
	padding: 10px 200px 10px 5px;
	display: block;
	width: 190px;
	margin: 10px auto 0px auto;
	position: relative;
	right: 90px;
	border: 2.5px #ff00d9 solid;
	color: white;
	background-color: black;
}
.SecondThreeBtn {
	padding: 10px 200px 10px 5px;
	display: block;
	width: 190px;
	margin: 10px auto 0px auto;
	position: relative;
	left: 170px;
	bottom: 155px;
	border: 2.5px #ff00d9 solid;
	color: white;
	background-color: black;
}

.firstThreeBtn:hover,
.firstThreeBtn:active,
.firstThreeBtn:focus {
	background-color: #ff00d9;
}
.SecondThreeBtn:hover,
.SecondThreeBtn:active,
.SecondThreeBtn:focus {
	background-color: #ff00d9;
}
