@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Russo+One&display=swap');

#Selection{
    text-align: center;
    background-color: black;
    /* background-image: linear-gradient(#B5179E,#7209B7, #560BAD); */
    height: 100vh;
    width: 100%;
    margin: 0;
    justify-content: center;
    cursor: pointer;
}

#welcome{
    
    text-align: center;
    margin:0;
    padding-top: 320px;
    font-family: 'Russo One', sans-serif;
    font-size: 60px ;
    background: -webkit-linear-gradient(rgb(194, 194, 255), rgb(213, 46, 251));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-origin: top center;
	animation: swing 2s linear;
}
@keyframes swing {
	20% { transform: rotate(15deg); }	
	40% { transform: rotate(-10deg); }
	60% { transform: rotate(5deg); }	
	80% { transform: rotate(-5deg); }	
	100% { transform: rotate(0deg); }
}
    

@media (max-width: 652px){
    #welcome {
      font-size: 35px;
     
    }
  }



#pick-your-poision{
    color: blueviolet;
    padding-bottom: 75px ;
}
@media (max-width: 652px){
    #pick-your-poision{
        padding-bottom: 37.5px 
     
    }
  }

#energiser {
    padding: 55px;
    margin-right: 70px ;
    border-radius: 80px;
    font-size: 20px;
    font-family: 'Russo One', sans-serif;
    color: black;
    background-color: #9900ff;
    
}

@media (max-width: 652px){
    #energiser {
        padding: 30px;
        margin: 20px auto 0px auto;
        border-radius: 40px;
        font-size: 15px;
        color: black;
        display: block;
    }
  }

#ice-melter {
    padding: 55px;
    margin-right: 70px ;
    border-radius: 80px;
    font-size: 20px;
    font-family: 'Russo One', sans-serif;
    color: black;
    background-color: #ff00d9;
}
@media (max-width: 652px){
    #ice-melter {
        padding: 30px;
        margin: 20px auto 0px auto;
        border-radius: 40px;
        font-size: 15px;
        color: black;
        display: block;
    }
  }

#voting {
    padding: 55px;
    margin-right: 70px ;
    border-radius: 80px;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    color: black;
    background-color: rgb(0, 132, 255);
}  

@media (max-width: 652px){
    #voting {
        padding: 30px;
        margin: 20px auto 0px auto;
        border-radius: 40px;
        font-size: 15px;
        color: black;
        display: block;
    }
  }

#energiser:hover, #ice-melter:hover, #voting:hover {
    
    color: white;
    background-color: black;
    border: 2px white solid; 
    animation: bounce2 1.5s ease infinite;
      }
      @keyframes bounce2 {
          0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
          40% {transform: translateY(-30px);}
          60% {transform: translateY(-15px);}
      }  

      @media (max-width: 652px){
        #voting:hover {
            color: white;
            background-color: black;
            border: 2px white solid; 
            animation: bounce2 1.5s ease infinite;
            }
            @keyframes bounce2 {
                0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
                40% {transform: translateY(-30px);}
                60% {transform: translateY(-15px);}
        }
      } 

