#resultsPage{
    background: black;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding-bottom: 100px;
    
}


#playerOne{
    float: left;
    padding-top: 20px;
    width: 600px;
    color: red;     
}


#playerTwo{
  float: right;
  right: 0px;
  width: 600px;
  padding-top: 90px;
  padding-left: 200px;
  color: red;
    
}


.player2Results{
  float: right;
  padding-right: 300px;
  font-size: 60px ;
  color: red;
  font-family: 'Russo One', sans-serif;
}

.hello{
    font-size: 60px ;
    background: -webkit-linear-gradient(blue, rgb(213, 46, 251));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Russo One', sans-serif;
    padding-top: 40px;
    padding-left: 150px;
}

.yourIdIs{
    color: white;
    padding-left: 150px; 
}

.personalId{
    color: red;
}

.compareBtn{
    background-color: black;
    font-family: 'Russo One', sans-serif;
    color:white;
    position: absolute;
    top:470px;
    right: 400px;
    font-size: 15px;
    border: solid white 2px;
    cursor: pointer;
    
}

.compareBtn:hover {
    border: solid red 2px;   
  }

  .playerTwoResults{
    padding-top: 250px;;
    padding-right: 250px;
    font-size: 20px ;
    color: red;
    font-family: sans-serif;
  }


  #p2Input{
    
    border-radius: 25px;
    
    
  }
.neonS{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    padding-left: 250px;
    /* border: solid 2px white; */
    justify-content: center;
    
}

.shymonkey{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    padding-right: 250px;
    /* border: solid 2px white; */
    justify-content: center;
    
}