@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Russo+One&display=swap');


.question{
    text-align: center;
    background: black;
    /* background-image: linear-gradient(#B5179E,#7209B7, #560BAD); */
    height: 100vh;
    width: 100%;
    margin: 0;
    cursor: pointer;       
}


.Q5{
    text-align: center;
    margin:0;
    padding: 200px 330px 50px 330px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px ;
    color: aqua;
}

.Q5firstThreeBtn{
    padding: 10px 200px 10px 5px;
    display: block;
    width: 190px;
    margin: 10px auto 0px auto;
    position: relative;
    right:90px;
    border: 2.5px aqua solid;
    color: white;
    background-color: black;
    
}
.Q5SecondThreeBtn{
    padding: 10px 200px 10px 5px;
    display: block;
    width: 190px;
    margin: 10px auto 0px auto;
    position: relative;
    left:170px;
    bottom: 155px;
    border: 2.5px aqua solid;
    color: white;
    background-color:black;
}
.Q5firstThreeBtn:hover, .Q5firstThreeBtn:active, .Q5firstThreeBtn:focus{
    background-color: aqua;
    color: black;

}
.Q5SecondThreeBtn:hover, .Q5SecondThreeBtn:active, .Q5SecondThreeBtn:focus{
    background-color: aqua;
    color: black;

}