@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Russo+One&display=swap');


.question{
    text-align: center;
    background: black;
    /* background-image: linear-gradient(#B5179E,#7209B7, #560BAD); */
    height: 100vh;
    width: 100%;
    margin: 0;
    cursor: pointer;       
}

.longerQ{
    text-align: center;
    margin:0;
    padding: 200px 330px 50px 330px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px ;
    color: #ff00d9;;
}

.firstThreeBtn{
    padding: 10px 200px 10px 5px;
    display: block;
    width: 190px;
    margin: 10px auto 0px auto;
    position: relative;
    right:90px;
    border: 2.5px #ff00d9 solid;
    color: white;
    background-color: black;
    
}
.SecondThreeBtn{
    padding: 10px 200px 10px 5px;
    display: block;
    width: 190px;
    margin: 10px auto 0px auto;
    position: relative;
    left:170px;
    bottom: 155px;
    border: 2.5px #ff00d9 solid;
    color: white;
    background-color:black;
}
.firstThreeBtn:hover, .firstThreeBtn:active, .firstThreeBtn:focus{
    background-color: #ff00d9;

}
.SecondThreeBtn:hover, .SecondThreeBtn:active, .SecondThreeBtn:focus{
    background-color: #ff00d9;

}

.bear-image{
    position: absolute;
    top: 50%;
    left: 20%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}

.bear-image2{
  position: absolute;
  top: 20%;
  right: 5%;
  width: 120px;
  height: 120px;
  margin:-60px 0 0 -60px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }

}

.bear-image3{
  position: absolute;
  top: 50%;
  right: 15%;
  width: 160px;
  height: 160px;
  margin:-60px 0 0 -60px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 3s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }

}

.bull{
    position: absolute;
    top:15%;
    right: 50%;
    width: 100px;
    height: 100px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 2s linear infinite;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
  
  }
  
  .elephant{
  
    position: absolute;
    top:15%;
    left: 12%;
    width: 70px;
    height: 50px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 2s linear infinite;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
  
  }
  
  .wolf{
    position: absolute;
    bottom:15%;
    right: 50%;
    width: 130px;
    height: 110px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 2s linear infinite;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
  
  }


  .elephant2{
  
    position: absolute;
    bottom:15%;
    left: 15%;
    width: 70px;
    height: 50px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 2s linear infinite;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
  
  }